/* noto-serif-italic - latin */
@font-face {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: 400;
  src: local("Noto Serif Italic"), local("NotoSerif-Italic"),
    url("../fonts/noto-serif-v8-latin-italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/noto-serif-v8-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-slab-regular - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-slab-v11-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-slab-v11-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-regular - latin */
@font-face {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans"), local("NotoSans"),
    url("../fonts/noto-sans-v9-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/noto-sans-v9-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  border-style: none;
}
a {
  text-decoration: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1;
  bottom: 0px;
  padding: 0px;
  word-spacing: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding-top: 42px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.navigation-list {
  width: 485px;
  display: flex;
  justify-content: space-between;
}
.logo {
  font-size: 26px;
  letter-spacing: 1px;
  line-height: 41px;
  color: #fed136;
  font-family: "Noto sans";
}
.navigation-list-link {
  font-size: 14px;
  line-height: 41px;
  color: #222222;
  font-family: "Montserrat";
  font-weight: 400;
  text-transform: uppercase;
}
.navigation-list-link:hover {
  color: #fed136;
}

.services-title {
  font-size: 40px;
  letter-spacing: -1px;
  line-height: 75px;
  color: #222222;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-top: 110px;
}
.services-text {
  font-size: 16px;
  color: #777777;
  font-family: "Noto Serif";
  font-weight: 400;
  font-style: italic;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 78px;
}
.services-list-item::before {
  display: block;
  content: "";
  border-style: solid;
  border-width: 3px;
  border-color: rgb(254, 209, 54);
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  width: 72px;
  height: 71px;
  margin: 0px auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 26px;
}
.services-list-item-basket::before {
  background-image: url("../img/basket.png");
}
.services-list-item-laptop::before {
  background-image: url("../img/laptop.png");
}
.services-list-item-locked::before {
  background-image: url("../img/locked.png");
}
.services-list-item-title {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 75px;
  color: #222222;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
}
.services-list-item-text {
  width: 279px;
  font-size: 14px;
  letter-spacing: 0px;
  color: #777777;
  font-family: "Roboto Slab";
  font-weight: 400;
  text-align: center;
  padding-bottom: 122px;
}
.services-list {
  display: flex;
  justify-content: space-between;
}

.contact {
  background-color: #222222;
  background-image: url("../img/Map-Image.png");
  background-position: right bottom 20px;
  background-repeat: no-repeat;
  padding-bottom: 115px;
}
.contact-title {
  font-size: 40px;
  letter-spacing: -1px;
  color: #ffffff;
  font-family: "Montserrat";
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding-top: 106px;
}
.contact-text {
  font-size: 16px;
  color: #777777;
  font-family: "Noto Serif";
  font-weight: 400;
  font-style: italic;
  text-align: center;
  margin-top: 22px;
  margin-bottom: 80px;
}
.form__box {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 29px;
}
.form__input-wrap {
  width: 459px;
}

.form__input {
  font-weight: 700;
  color: #bbbbbb;
  width: 100%;
  height: 54px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
  padding-left: 21px;
}

.form__input:not(:last-child) {
  margin-bottom: 27px;
}

.form__input::placeholder,
.form__textarea::placeholder {
  color: #bbbbbb;
  font-weight: 700;
  text-transform: uppercase;
}

.form__textarea {
  font-weight: 700;
  color: #bbbbbb;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: 459px;
  padding: 20px;
  resize: none;
}

.form__input:required:valid,
.form__textarea:required:valid {
  outline-color: #008000;
}

.form__input:required:invalid,
.form__textarea:required:invalid {
  outline-color: #e90303;
}

.form__input[name="subject"] {
  outline: none;
}

.form__btn {
  display: block;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: rgb(254, 209, 54);
  width: 240px;
  height: 66px;
  cursor: pointer;
  margin: 0 auto;
  transition: all 0.2s linear;
  outline: none;
}

.form__btn:hover,
.form__btn:focus {
  background-color: rgb(209, 169, 25);
}
